{% if not user.is_activated %}

    <h3>Ваш Email адрес не был подтвержден.</h3>
    <p>
        Ваш Email адрес не был подтвержден. Пожалуйста, проверьте вашу почту для верификации.
        <a href="javascript:;" data-request="onSendActivationEmail">Отправить сообщение с верефикацией снова.</a>.
    </p>

{% endif %}