<a class="dark-link"
    href="javascript:;"
    onclick="$('#accountDeactivateForm').toggle()">
    Удалить аккаунт
</a>

<div id="accountDeactivateForm" style="display: none">
    {{ form_ajax('onDeactivate') }}
        <hr />
        <h3>Вы действительно хотите удалить акаунт?</h3>
        <p>
            Ваша учетная запись будет отключена, а ваши данные удалены с сайта. Вы можете активировать свою учетную запись в любое время, выполнив вход.
        </p>
        <div class="form-group">
            <label for="accountDeletePassword">Чтобы продолжить, введите ваш пароль:</label>
            <input name="password" type="password" class="form-control" id="accountDeletePassword" />
        </div>
        <button type="submit" class="btn btn-secondary">
            Удалить аккаунт
        </button>
        <a class="pl-3 dark-link"
            href="javascript:;"
            onclick="$('#accountDeactivateForm').toggle()">
            Я передумал
        </a>
    {{ form_close() }}
</div>
