{% if canRegister %}
    <h3>Регистрация</h3>
    <form
        data-request="onRegister">
        <div class="lch-container row">
                <div class="form-group  col-12 col-xl-6">
                        <label for="registerName">Имя</label>
                        <input
                            name="name"
                            type="text"
                            class="form-control"
                            id="registerName" required 
                            placeholder="Введите ваше имя" />
                    </div>
            
                    <div class="form-group  col-12 col-xl-6">
                        <label for="registerSurname">Фамилия</label>
                        <input
                            name="surname"
                            type="text"
                            class="form-control"
                            id="registerSurname"
                            placeholder="Введите вашу фамилию" required  />
                    </div>
            
                    <div class="form-group col-12">
                        <label for="registerEmail">Email</label>
                        <input
                            name="email"
                            type="email"
                            class="form-control"
                            id="registerEmail" required 
                            placeholder="Введите вашу почту" />
                    </div>
                    {% if loginAttribute == "username" %}
                    <div class="form-group">
                        <label for="registerUsername">Логин</label>
                        <input
                            name="username"
                            type="text"
                            class="form-control"
                            id="registerUsername"
                            placeholder="Введите логин" />
                    </div>
                {% endif %}
                
        <div class="form-group col-12 ">
                <label for="registerPassword">Пароль</label>
                <input
                    name="password"
                    type="password"
                    class="form-control"
                    id="registerPassword"
                    placeholder="Введите пароль" />
            </div>

        </div>

        <div class="lch-container row">
                <div class="form-group col-12">
                        <label>Aдресс</label>
                        <textarea name="address" type="text" class="form-control" id="regAddress" required></textarea>
                    </div>
            
                    <div class="form-group col-12 col-xl-3">
                            <label>Индекс</label>
                            <input name="index" type="text" class="form-control" id="regIndex" required>
                        </div>
            
                    <div class="form-group col-12 col-xl-9">
                        <label>Телефон</label>
                        <input name="telephone" type="text" class="form-control" id="regTelephone" required placeholder="Введите ваш телефон">
                    </div>
        </div>  

        <button type="submit" class="btn btn-dark">Регистрация</button>
        <a class="dark-link pl-3" href="/project/account"> Назад </a>

    </form>
{% else %}
    <!-- Registration is disabled. -->
{% endif %}

