<h3>Авторизация</h3>
<form
    data-request="onSignin" data-request-data="redirect: '{{redirect_url}}'">
    <div class="form-group">
        <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="Введите вашу почту" />
            <!--  {{ loginAttributeLabel|lower }} -->
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Пароль</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="Введите пароль" />
    </div>
    <button type="submit" class="btn btn-dark">Войти</button>
    <a class="dark-link pl-3" href="/project/registration"> Зарегестрироваться </a>
</form>
