{{ form_ajax('onUpdate') }}
<h4>  Личные данные  </h4>
<div class="lch-container row mt-3">
    <div class="form-group col-12 col-md-6">
        <label for="accountName">Имя</label>
        <input name="name" type="text" class="form-control" id="accountName" value="{{ user.name }}">
    </div>

    <div class="form-group col-12 col-md-6">
        <label for="accountSurname">Фамилия</label>
        <input name="surname" type="text" class="form-control" id="accountSurname" value="{{ user.surname }}">
    </div>

    <div class="form-group col-12">
        <label for="accountEmail">Email</label>
        <input name="email" type="text" class="form-control" id="accountEmail" value="{{ user.email }}">
    </div>
</div>
    <div class="lch-container row">
    <div class="form-group col-12">
        <label>Aдресс</label>
        <textarea name="address" type="text" class="form-control" id="accountAddress"> {{ user.address }} </textarea>
    </div>

    <div class="form-group col-12 col-md-6">
        <label>Индекс</label>
        <input name="index" type="text" class="form-control" id="accountIndex" value="{{ user.index }}">
    </div>

    <div class="form-group col-12 col-md-6">
        <label>Телефон</label>
        <input name="telephone" type="text" class="form-control" id="accountTelephone" value="{{ user.telephone }}">
    </div>
    </div>

    <div class="lch-container row">
        <div class="form-group col-12">
            <label for="accountPassword">Пароль</label>
            <input name="password" type="password" class="form-control" id="accountPassword">
        </div>

        <div class="form-group col-12">
            <label for="accountPasswordConfirm">Новый пароль</label>
            <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
        </div>
    </div>
    
    <div class="row">
        <div class="text-left col-6"> 
                <button type="submit" class="btn btn-dark mt-1">Сохранить</button>
                <button class="btn btn-secondary mt-1" type="submit" data-request="onLogout" data-request-data="redirect: '/account'"> Выйти </button>
        </div>
        <div class="text-right col-6"> 
                
                    <a href="/project/history" class="btn btn-dark mt-1" type="button"> История заказов </a>
                
        </div>
    </div>
{{ form_close() }}
