title = "Категория"
url = "/blog/category/:slug/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div class="container">
    <div class="row">
        <div class="col-12 pt-3">
        {% set posts = blogPosts.posts %}
            {% if not category %}
                <h3>Категория не найдена</h3>
            {% else %}
                <h2 class="text-center dark-color">{{ category.name }}</h2>
            {% endif %}
            
            <ul class="post-list dark-link">
                {% for post in posts %}
                    <li>
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                        <p class="info">
                            Опубликовано
                            {% if post.categories.count %} в раздел {% endif %}
                            {% for category in post.categories %}
                                <a class="text-underline" href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %} {% endif %}.
                            {% endfor %}
                            Дата: {{ post.published_at|date('M d, Y') }}
                        </p>

                        <p class="excerpt">{{ post.summary|raw }}</p>
                    </li>
                {% else %}
                    <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
                {% endfor %}
            </ul>
            <p class="text-center text-underline"> <a class="btn btn-dark" href="#" onclick="javascript:history.back(); return false;">Назад</a> </p>
            {% if posts.lastPage > 1 %}
                <ul class="pagination">
                    {% if posts.currentPage > 1 %}
                        <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
                    {% endif %}

                    {% for page in 1..posts.lastPage %}
                        <li class="{{ posts.currentPage == page ? 'active' : null }}">
                            <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if posts.lastPage > posts.currentPage %}
                        <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            {% endif %}

        </div>
    </div>
</div>