title = "Пост"
url = "/blog/post/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==
<div class="container">
    <div class="row">
        <div class="col-12 pt-3">
            <div class="row">
                <div class ="col-12">
                        <h2 class="text-center dark-color pb-3">{{ post.title }}</h2>
                        {% set post = blogPost.post %}
                </div>
        

<div class="content col-12 col-md-8 pb-0"> {{ post.content_html|raw }}</div>

{% if post.featured_images.count %}
    <div class="featured-images text-center ontent col-12 col-md-4">
            <row>
        {% for image in post.featured_images %}        
            <div class="col-12">
                    <p>
                            <img
                                data-src="{{ image.filename }}"
                                src="{{ image.path }}"
                                alt="{{ image.description }}"
                                style="max-width: 100%" />
                        </p>
            </div>
        {% endfor %}
    </row>
    </div>
{% endif %}
<div class="col-12">
        <p class="info dark-link ">
                Опубликовано
                {% if post.categories.count %} в раздел
                    {% for category in post.categories %}
                        <a class="text-underline" href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}.
                    {% endfor %}
                {% endif %}
                Дата: {{ post.published_at|date('M d, Y') }}
            </p>
            <p class="text-center text-md-left text-underline"> <a class="btn btn-dark" href="#" onclick="javascript:history.back(); return false;">Назад</a> </p>
</div>

        </div>
        
        </div>
    </div>
</div>