title = "Разделы новостей"
url = "/blog/sidebar"
layout = "default"
is_hidden = 0

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<div class="container">
    <div class="row">
        <div class="col-12 pt-3 text-center">
        {% if blogCategories.categories|length > 0 %}
    <ul class="category-list dark-link p_1">
        {% partial blogCategories ~ "::items"
            categories = blogCategories.categories
            currentCategorySlug = blogCategories.currentCategorySlug
        %}
        <li class="p_1 dark-link text-underline">  <a href="/project/blog"> Назад </a> </li>
    </ul>
{% else %}
    <p class="p_1"> Категории не найдены </p>
    <p class="dark-link text-center text-underline p_1"> <a href="#" onclick="javascript:history.back(); return false;">Назад</a> </p>
{% endif %}
    
        </div>
    </div>
</div>