@gray_light: rgb(241, 241, 241);
@gray_medium: #999;
@gray_dark: #444;
@white: #fff;
@black: #000;
@dark: #2b2f35;
@firm_dark: #2d333b;
@firm_rad: #ff3355;




.danger-text {
    color: @firm_rad !important;
}

.border-left {
    border: 3px solid @white;
}

.lch-container {
    border-radius: 15px 15px 15px 15px !important;
    background: @gray_light;
    padding: 2vh;
    margin-bottom: 15px;
}

input{
    border-radius: 0px 0px 0px 0px !important; 

}
input:hover{
    border-radius: 0px 0px 0px 0px !important; 
    background: @gray_light;
    border-color: @gray_medium;
}

.dname{
    height: 9vh;
}

.unvisible{display:none;}

.btn { 
border-radius: 0px 0px 0px 0px !important; 
}

.img-social {
    width: 32px;
    height: 32px;
}

.img-social:hover {
    filter: brightness(135%);
}

.img-wrap {
    position: relative;
}

.img-wrap h2 {
    position: absolute;
    left: 10%;
    bottom: 6%;
    color: @firm_rad;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6.0vmin !important;
    text-shadow: @white 0.1vw 0.1vw 0.0vw;
}

.img-wrap h3.one {
    position: absolute;
    left: 10%;
    bottom: 40%;
    text-shadow: @white 0.1vw 0.1vw 0.0vw;
    color: @firm_rad;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4.0vw !important;
} 

.text-underline {
    text-decoration:underline; 
}


h1 {
    font-size: 5.0vh  !important;
}
h2 {
    font-size: 4.0vh  !important;
}
h3 {
    font-size: 2.5vh  !important;
}
p {
    font-size: 1.5vh  !important;
}

.p_1 {
    font-size: 3.0vh  !important;
}


body {
    background-color:  @gray_light;
    height: 100%;
    min-height: 100%;
}
html {
    height: 100%;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.content {
    padding-bottom: 80px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.item:hover {
    outline: 2px solid @gray_medium;      
}

.light-link {
    a {
        color : @gray_light !important;
    }
    a:active {
        color : @white !important;
    }
    a:hover {
        color : @gray_medium !important;
        text-decoration: none;
    }
}


.dark-link {
    a {
        color : @gray_dark !important;
    }
    a:active {
        color : @black !important;
    }
    a:hover {
        color : @gray_medium !important;
        text-decoration: none;
    }
}

a.dark-link {
        color : @gray_dark !important;
}
a.dark-link:active {
    color : @black !important;
}
a.dark-link:hover {
    color : @gray_medium !important;
    text-decoration: none;
}

.dark-link-1 {
    a {
        color : @gray_dark;
    }
    a:active {
        color : @black;
    }
    a:hover {
        color : @gray_dark;
        text-decoration: none;
    }
}

.light-color{
    color: @gray_light !important;
}

.dark-color{
    color: @gray_dark !important;
}

.string-top {
    float: right;  
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.btn {
    white-space: nowrap;
}

.bg_t {
    background-color: @gray_light !important;
}

.bg_d {
    background-color: @dark !important;
}

.bg_color_firm {
    background-color: @firm_dark; 
}

li {
    list-style-type: none;
}

