<div data-control="toolbar">
    <!-- <a
        href="<?= Backend::url('alexdi/ordersadd/orders/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Новый заказ
    </a> -->

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDeleteFromBasketPr2"
        data-request-confirm="Are you sure you want to delete the selected Orders?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Удалить выбранные
    </button>
</div>
