{% set products = filterproducts.products %}


<form method="GET" action="{{ url('filter-products')}}">
    <div>
        <label>Размер</label>
        <select name="size">
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>    
        </select> 
    </div>

    <button type="submit">Фильтровать</button>
</form>

{% for product in products %}
{% spaceless %}          
    <div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-3" >
            
        <div class="col-12 pb-3 bg_t dark-link-1 item h-100"> 
                {% if detailsPage %}
                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(product, detailsKeyColumn) }) }}">
            {% endif %}
            <div>
             <img src="{{product.photo|media}}" alt="Изображение товара" class="w-100">    
            </div>
            
        <div class="pt-3">
                <h3> {{product.name}} </h3> 
               
        </div>       
        <hr>
        
        <div>
                <p class="text-left"> {{html_limit(product.description, 40)|raw}} <br>
                    {{product.price}} ₽</p> 
        </div>
        {% if detailsPage %}
            </a>
        {% endif %}
                              
        </div>
           
        </div> 
{% endspaceless %}
{% else %}
    {{ noRecordsMessage }}
{% endfor %}