title = "Продукты"
url = "/goods/:slug/filter-products/:page?"
layout = "default"
is_hidden = 0

[filterproducts]
==
<h1> Filter Products </h1>

{% set products = filterproducts.products %}

                    {% for product in products %}
                    {% spaceless %}          
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-3" >
                                
                            <div class="col-12 pb-3 bg_t dark-link-1 item h-100"> 
                                {% if detailsPage %}
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                {% endif %}
                                <div>
                                 <img src="{{product.photo|media}}" alt="Изображение товара" class="w-100">    
                                </div>
                                
                            <div class="pt-3">
                                    <h3> {{product.name}} </h3> 
                                   
                            </div>       
                            <hr>
                            
                            <div>
                                    <p class="text-left"> {{html_limit(record.description, 40)|raw}} <br>
                                        {{product.price}} ₽</p> 
                            </div>
                            {% if detailsPage %}
                                </a>
                            {% endif %}
                                                  
                            </div>
                               
                            </div> 
                    {% endspaceless %}
                    {% else %}
                        {{ noRecordsMessage }}
                    {% endfor %}
            
          
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3 pb-3"> 
                {% if records.lastPage > 1 %}
                    <ul class="pagination dark-link justify-content-center">
                        {% if records.currentPage > 1 %}
                            <li><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">Предыдущая</a></li>
                        {% endif %}
                
                        {% for page in 1..records.lastPage %}
                            <li class=" {{ records.currentPage == page ? 'active' : null }}">
                                <a class="page-link {{ records.currentPage == page ? 'active light-color bg_d' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                
                        {% if records.lastPage > records.currentPage %}
                            <li><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Следующая</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>