title = "Ассортимент"
url = "/backup/:page?"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Alexdi\Alexdi\Models\Product"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "product"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 1
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% partial "carousel_all_width" way1="1-f.png" way2="2-f.png" way3="3-f.png" %}

 <!-- <div class="row"> -->
  <!-- <div class="container-fluid p-0"> -->
    <div class="row w-100 m-0">

      <div class="col-md-3 col-lg-2 bg_t mt-3" >
          {% partial "left_menu" %} 
      </div>
          <!-- end header -->

      <main class="col-md-9 col-lg-10 p-0 pt-3">
        <div class="row text-center col-lg-10 w-100 m-0 p-0">
            
                    {% for record in records %}
                    {% spaceless %}          
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-3" >
                                
                            <div class="col-12 pb-3 bg_t dark-link-1 item h-100"> 
                                    {% if detailsPage %}
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                {% endif %}
                                <div>
                                 <img src="{{record.photo|media}}" alt="Изображение товара" class="w-100">    
                                </div>
                                
                            <div class="pt-3">
                                    <h3> {{record.name}} </h3> 
                                   
                            </div>       
                            <hr>
                            
                            <div>
                                    <p class="text-left"> {{html_limit(record.description, 40)|raw}} <br>
                                        {{record.price}} ₽</p> 
                            </div>
                            {% if detailsPage %}
                                </a>
                            {% endif %}
                                                  
                            </div>
                               
                            </div> 
                    {% endspaceless %}
                    {% else %}
                        {{ noRecordsMessage }}
                    {% endfor %}
            
            
            
        
          
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3 pb-3"> 
                {% if records.lastPage > 1 %}
                    <ul class="pagination dark-link justify-content-center">
                        {% if records.currentPage > 1 %}
                            <li><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">Предыдущая</a></li>
                        {% endif %}
                
                        {% for page in 1..records.lastPage %}
                            <li class=" {{ records.currentPage == page ? 'active' : null }}">
                                <a class="page-link {{ records.currentPage == page ? 'active light-color bg_d' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                
                        {% if records.lastPage > records.currentPage %}
                            <li><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Следующая</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>        
        </div>
      </main>
        <!-- end main -->
  </div>
<!-- </div> -->
        {% framework extras %}
        {% scripts %}