title = "Mine page"
url = "/ss"
layout = "default"
is_hidden = 0
==
<!-- Header -->
        <div class="header">
            <!-- Верхнее меню -->
            <div class="main_header">
                <div class="nav_right">
                    <ul>
                            <li>О нас</li>
                            <li>Контакты </li>
                            <li> 8 (800) 555-35-35 </li>
                        </ul>
                </div>
            </div>
            <!-- Нижнее меню с категориями -->
            <div class="secondary_header">
                <div class="block">
                    <div class="logo">
                            <img src="{{ 'assets/images/Logo.png' | theme }} " alt="logo">
                    </div>
                    <div class="categories">
                            <ul>
                                    <li>Мужчины</li>
                                    <li>Женщины </li>
                                </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="container">
            
            <div class="menu">
                <ul>
                    <li>Верхняя одежда</li>
                    <li>Фтуболки </li>
                    <li>Толстовки</li>
                    <li>Брюки</li>
                    <li>Обувь</li>
                </ul>
            </div>
            <div class="product_container">

                <div class="container_min">

                <div class="product1">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">
                </div>
            
                <div class="product2">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">
                </div>

                <div class="product3">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">
                </div>

                <div class="product4">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">
                </div>

                <div class="product5">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">
                </div>

                <div class="product6">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">
                </div>

                <div class="product7">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">
                </div>
                
                <div class="product8">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">
                </div>
                                            
                <div class="product9">
                        <img src="{{ 'assets/images/one.png' | theme }} " alt="logo">                         
                </div>                     
                <div class="end_list"> one two three </div>
            </div>   
        </div>
        </div>
 
        
        <!-- Footer -->
        <div class="footer">
                xxx
        </div>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}