==
<div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3" >
<div class="col-12 pb-3 bg_t dark-link item h-100"> 
<a href="{{ 'product/'~rid}}" >
              <div>
                  <img src="{{ ('assets/images/'~image)|theme }}" alt="Изображение товара" class="w-100">
             </div>            
                <h3> {{name}} </h3> 
                <hr>

                <p class="text-left"> {{description}} <br>
                {{price}} ₽</p> 
                </a>
            </div>
            </div>