==
<nav aria-label="...">
                    <ul class="pagination  dark-link justify-content-center">
                      <li class="page-item disabled">
                        <span class="page-link">Предыдущая</span>
                      </li>
                      <li class="page-item"><span class="page-link light-color bg_d"> 1 <span class="sr-only">(current)</span></span></li>
                      <li class="page-item"><a class="page-link" href="#"> 2 </a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Следущая</a>
                      </li>
                    </ul>
                  </nav>