description = "Default layout"

[session]
security = "all"
==
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title> ZHESTKO {{ this.page.title }}</title>
                <meta name="author" content="AlexDi">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, shirink-to-fit=no">
                <link rel="icon" type="image/png" href="{{ 'assets/images/main.png'|theme }}">

                <script type="text/javascript" src="{{ 'assets/javascript/jquery/dist/jquery.js'|theme }}"></script>
                <script type="text/javascript" src="{{ 'assets/javascript/popper.js/dist/umd/popper.js'|theme }}"></script>
                <script type="text/javascript" src="{{ 'assets/javascript/tooltip.js/dist/umd/tooltip.js'|theme }}"></script>
        
                <!-- LESS стили CSS-->
                <link  rel="stylesheet/less" type="text/css" href="{{ 'assets/css/styles.less'|theme }}">  
                <!-- LESS препроцессор-->
                <script type="text/javascript" src="{{ 'assets/javascript/less.min.js'|theme }}" ></script>  
                <!-- Bootstrap -->
                <link rel="stylesheet" href="{{ 'assets/css/bootstrap/bootstrap.min.css'|theme }}">

        {% styles %}
        </head>
        <body>

        <div class="wrapper">
                {% partial "header_top" %}
                {% partial "header_bottom" %}
                <div class="content">
                        {% page %}
                </div>
                <div class="footer">
                        {% partial "footer" %}
                </div>
        </div>

        <!-- Scripts -->
        
        <script type="text/javascript" src="{{ 'assets/javascript/bootstrap/bootstrap.min.js'|theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/javascript/app.js'|theme }}"></script>
        
        
        {% scripts %}
        {% framework %}
        {% framework extras %}
        </body>
</html>