title = "О нас"
url = "/about_us"
layout = "default"
is_hidden = 0
==

<div class="container-fluid bg_t"  >
        <div class="row">

                <div class="col-12 p-0 order-1">
                        <img src="{{ 'assets/images/about_us/zhestko_big_logo.png'| theme }}" alt="zhestko" class="d-block img-fluid w-100"> 
                </div>

                <div class="col-12 px-md-5 py-3 order-2">
                        <h1> {{ this.page.title }}</h1>
                        <hr>
                        <p class="p_1"> ZHESTKO - молодая компания, которая объединяет в себе множество различных брендов.
                        Мы сотрудничаем с лучшими производителями спортивной и повседневной одежды. В нашем магазине
                        присутствует продукция компаний Nike, Adidas, Asics и Reebok.
                        </p>               
                        <hr>
                </div>

                <div class="col-12 col-md-6  p-0 pt-3 order-3">
                        <img src="{{ 'assets/images/about_us/nike.png'| theme }}" alt="nike" class=" img-fluid w-100"> 
                </div>

                <div class="col-12 col-md-6 px-md-5 pt-3 my-auto order-4">
                        <h2> Наши партнеры </h2>
                        <hr>
                        <blockquote class="p_1 "> Благодаря сотрудничеству с Nike, Adidas, Asics и Reebok нам поставляется самая новая продукция. </p>
                </div>

                <div class="col-12 col-md-6 px-md-5 pt-3 my-auto order-6 order-md-5">
                        <h2> Наши магазины </h2>
                        <hr>
                        <p class="p_1 "> Сеть наших магазинов распространяется по всей России. Главный офис находится в Москве. </p>
                </div>

                <div class="col-12 col-md-6  p-0 order-5 order-md-6">
                        <img src="{{ 'assets/images/about_us/adidas.png'| theme }}" alt="adidas" class=" img-fluid w-100"> 
                </div>
                
                <div class="col-12 col-md-6  p-0 order-7">
                        <img src="{{ 'assets/images/about_us/reebok.png'| theme }}" alt="reebok" class=" img-fluid w-100"> 
                </div>
                
                <div class="col-12 col-md-6  px-md-5 pt-3 my-auto order-8">
                        <h2> Сотрудничество </h2>
                        <hr>
                        <p class="p_1 "> Поставляемую нами продукцию используют профессиональные спортсмены из различных видов спорта. </p>
                </div>

                <div class="col-12 p-0 order-9 img-wrap">
                        <img src="{{ 'assets/images/about_us/Running-Nike.png'| theme }}" alt="nike_running" class="d-block img-fluid w-100"> 
                        <h3 class="one text-uppercase text-center">Новые коллекции от лучших производителей <br> Делаем то, что вы любите </p> </h3>
                </div>
        </div>
</div>