title = "Личный кабинет"
url = "/account"
layout = "default"
is_hidden = 0

[account]
redirect = "account"
paramCode = "code"
forceSecure = 0
== 
<?php 
function onStart(){ 
if (isset($_SERVER['HTTP_REFERER'])) 
{ 
$this['redirect_url'] =$_SERVER['HTTP_REFERER']; 
} 
else 
{ 
$this['redirect_url'] ="/accaunt"; 
} 
} 
?>
==

<div class="container">
    <div class="row">
        {% if not user %}
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 pt-md-5 p-3">
            {% partial account ~ '::signin' %}
        </div>
        

        {% else %}
        <div class="col-12 p-3">
            {% partial account  ~ '::activation_check' %}
        </div>
        <div class="col-12 p-3">
                    {% partial account ~ '::update' %}
        </div>
        <div class="col-12 p-3">
            {% partial account ~ '::deactivate_link' %}
        </div>

        {% endif %} 
    </div>
</div>
<script type="text/javascript" src="{{ 'assets/javascript/jquery.maskedinput-master/src/jquery.maskedinput.js'|theme }}" ></script>  
<script type="text/javascript" src="{{ 'assets/javascript/alexdi/account.js'|theme }}" ></script>  