title = "Новости"
url = "/blog/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 9
noPostsMessage = "Постов нет :("
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div class="container pl-0">
    <div class="row">
        <div class="col-12 pt-3 pl-0">

            <h2 class="text-center dark-color"> Общие новости </h2>
            <p class="dark-link text-center text-underline"> <a href="blog/sidebar">Перейти к списку разделов</a> </p>

            {% set posts = blogPosts.posts %}

            <ul class="post-list dark-link">
                {% for post in posts %}
                    <li>
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                        <p class="info m-0">
                        Опубликовано
                        {% if post.categories.count %} в раздел {% endif %}
                        {% for category in post.categories %}
                        <a class="text-underline" href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}.
                        {% endfor %} Дата:  {{ post.published_at|date('M d, Y') }} 
                        </p>
                        <p class="info"></p>
                        <p class="excerpt">{{ post.summary|raw }}</p>
                    </li>
                        {% else %}
                    <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
                    {% endfor %}
            </ul>
            <p class="text-center text-underline"> <a class="btn btn-dark" href="#" onclick="javascript:history.back(); return false;">Назад</a> </p>

            <div class="col-12 pt-3 pb-3"> 
                {% if posts.lastPage > 1 %}
                <ul class="pagination dark-link justify-content-center">
                    {% if posts.currentPage > 1 %}
                    <li><a class="page-link" href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
                    {% endif %}
    
                    {% for page in 1..posts.lastPage %}
                    <li class="{{ posts.currentPage == page ? 'active' : null }}">
                        <a class="page-link {{ posts.currentPage == page ? 'active light-color bg_d' : null }}" href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                    </li>
                    {% endfor %}
    
                    {% if posts.lastPage > posts.currentPage %}
                    <li><a class="page-link" href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>  
        </div>
    </div>
</div>