title = "Личный кабинет"
url = "/cabinet"
layout = "default"
is_hidden = 0
==
<div class="container">
        <div class="row">

<div class="col-12 p-3">
        {% partial account  ~ '::activation_check' %}
    </div>
    <div class="col-12 p-3">
        {% partial account ~ '::update' %}
    </div>
    <div class="col-12 p-3">
        {% partial account ~ '::deactivate_link' %}
    </div>
</div></div>