title = "Обратная связь"
url = "/feedback"
layout = "default"
is_hidden = 0
==

<div class="container-fluid">
        <div class="row">
                <div class="offset-md-2 col-12 col-md-8 pt-3">
                        <div class="row">
                                <div class="col-12 col-xl-6 my-auto">
                                        <h1> {{ this.page.title }}</h1> 
                                        <hr>
                                        <p class="p_1"> Наш главный оффис находится по адресу: г. Москва, ул. Ленина, д. 2. </p>
                                        <p class="p_1"> Наш телефон: 8 (916) 78-29-738 </p>
                                        <p class="p_1"> Наша почта: zeoeoe@gmail.com </p>
                                </div>
                                <div class="col-12 col-xl-6 p-0 pt-3 my-auto">
                                        <img src="{{ 'assets/images/office.png'| theme }}" alt="office" class=" img-fluid w-100"> 
                                </div>
                        </div>
                </div>
        </div>
</div>

