title = "Ассортимент"
url = "/goods/:slug/:page?"
layout = "default"
is_hidden = 0
==
{% partial "carousel_all_width" way1="1-f.png" way2="2-f.png" way3="3-f.png" %}

<div class="row w-100 m-0">
  <div class="col-md-3 col-lg-2 bg_t" >
    {% partial "left_menu" %} 
  </div>
  <main class="col-md-9 col-lg-10 p-0 pt-3">
    <div class="row text-center col-lg-10 w-100 m-0 p-0">
      {% partial "products_menu" %}
    </div>
  </main>
</div>
{% framework extras %}
{% scripts %}