title = "Заказ"
url = "/history_details/:order_id"
layout = "default"
is_hidden = 0

[PerformanceAdd]

[session]
security = "user"
redirect = "account"

[builderList]
modelClass = "Alexdi\Ordersadd\Models\performance_tovar"
scope = "scopeProductDetails1"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "Заказа не существует"
detailsPage = "product"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% set order = this.param.order_id %}

<div class="container p-3 pl-4">
        <h1> Заказ N: {{order}} </h1>
</div>
<div class="bg_t">
        <div class="container p-3">
            <div class="row">
                    {% set full_price = 0 %}
                    {% set full_quantity = 0 %}
                    {% for record in records %}
                        {%set full_price=full_price+record.price %}
                        {%set full_quantity=full_quantity+1 %}
                    {%endfor%}
                    {% if full_price > 0 %}
                    <div class="col-6 col-sm-8 col-md-9 col-lg-10">
                            <label>  Стоимость:<b> {{full_price}}₽</b></label> <br>  
                            <label>  Количество: <b> {{full_quantity}} шт.</b></label>
                        </div>
                {% else %}
                <h4 class="p-3"> {{ noRecordsMessage }} </h4> 
                {% endif %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-auto text-center p-0">
                    {% if full_price > 0 %} 
                    <form action="/project/history"> 
                        <button class="btn btn-oytline-success my-2 my-sm-0 btn-dark"> История заказов </button>
                    </form>
                    
                    {% else %} {% endif %}                                           
                </div> 
            </div>
        </div>
</div>
<div class="mx-auto container w-100 m-0">
    <main class="col-12  p-0 pt-3">
        
        <div class="row text-center col-12 w-100 m-0 p-0">
            {% for record in records %}
                {% spaceless %}          
                    <div class="col-12 mb-3" >
                        <div class="col-12 pb-3 bg_t dark-link-1 item h-100"> 

                            
                            <div class="row">
                                <div class="col-6 col-md-4 col-lg-3 col-xl-2 pt-3">
                                    {% if detailsPage %}
                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                    {% endif %}
                                    <img src="{{record.product.photo|media}}" alt="Изображение товара" class="w-100"> 
                                    {% if detailsPage %}
                                        </a>
                                    {% endif %}
                                </div>
                                
                                <div class="col-6 col-md-8 col-lg-9 col-xl-10 my-auto">
                                        
                                    <div class="text-left text-md-center row ">
                                            
                                        <div class="col-12 my-auto col-md-6 p-0 pt-3 pt-md-0">
                                            {% if detailsPage %}
                                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                            {% endif %}
                                            <h3> {{record.product.name}} </h3> 
                                            {% if detailsPage %}
                                                </a>
                                            {% endif %}
                                        </div>      
                                        <div class="col-12 col-md-3 p-0 border-right">
                                            <div class="text-left row p-0 ">
                                                <div class="col-12 my-auto">
                                                    <label class="m-0"> Цвет: {{record.product.color}} </label> 
                                                </div>
                                                <div class="col-12 my-auto">
                                                    <label class="m-0">Размер: {{  record.size }} </label> 
                                                </div>
                                                <div class="col-12 my-auto=">
                                                    <label class="m-0"> <b>Цена: {{ record.price }}</b> </label> 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-3 my-auto center p-0 border-right">
                                            <form action="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                            <input type="submit" class="btn btn-oytline-success my-2 my-sm-0 btn-dark" value="Подробнее">
                                            </form>
                                        </form>                                        
                                        </div>
                                    </div>
                                
                                </div> 
                            </div>
                            
                            
                        </div>
                    </div> 
                {% endspaceless %}

            {% endfor %}
        </div>
    </main>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3 pb-3"> 
    {% if records.lastPage > 1 %}
        <ul class="pagination dark-link justify-content-center">
            {% if records.currentPage > 1 %}
                <li>
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}{{paginats}}">
                            &#60
                    </a>
                </li>
            {% endif %}
            {% for page in 1..records.lastPage %}
                <li class=" {{ records.currentPage == page ? 'active' : null }}">
                    <a class="page-link {{ records.currentPage == page ? 'active bg_d' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}{{paginats}}"><lable class="{{ records.currentPage == page ? 'light-color' : null }}">{{ page }}</lable></a>
                </li>
            {% endfor %}
            {% if records.lastPage > records.currentPage %}
                <li><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}{{paginats}}">&#62</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
</div>