title = "Главная"
url = "/"
layout = "default"
is_hidden = 0
==
<div class="row  w-100 m-0">
    <div class="row col-12 col-lg-6 my-auto text-center w-100 m-0 p-0">
        <div class="col-6 my-auto text-center p-0"> 
            <p class="m-0"> Air Max 270 </p>
            <h2 class="text-uppercase"> Стиль жизни </h2>
            <p> Лимитированная серия </p>
            <form action="/project/product/air-max-270-black ">
                <button class="btn btn-dark"> Купить </button>
            </form>
    </div>
    
    <div class="col-6 my-auto text-center p-0"> 
        <a href="/project/product/air-max-270-black ">
            <img src="{{ 'assets/images/270two.png'| theme }}"  alt="270" class="d-block w-100">
        </a>
    </div>
    <div class="col-6 my-auto text-center p-0"> 
        <a href="/project/product/air-max-270-black ">
            <img src="{{ 'assets/images/270one.png'| theme }}"  alt="270" class="d-block w-100">
        </a>
    </div>
    
    <div class="col-6 my-auto text-center p-0"> 
        <p class="m-0"> Air Max 270 </p>
        <h2 class="text-uppercase"> Новая коллекция </h2>
        <p> Для сильных и независимых </p>
        <form action="/project/product/air-max-270-black ">
            <button class="btn btn-dark"> Купить </button>
        </form>
        
    </div>
    </div>
    <div class="col-12 col-lg-6 p-0 div-rel">
        <a href="/project/product/air-max-270-black ">
        <div class="col-12 img-wrap p-0 m-0">
            <img src="{{ 'assets/images/270.png'| theme }}"  alt="270" class="d-block w-100">
            <h2 class="img-wrap text-uppercase">Одержи победу над собой</p>
        </div> 
    </a>   
    </div>
</div>

<div class="row  w-100 m-0 py-1">
    <div class="col-12 col-lg-6 p-0 div-rel order-2 order-md-1">
        <a href="/project/product/hightweater_eqt">
        <div class="col-12 img-wrap p-0 m-0">
            <img src="{{ 'assets/images/EQT.png'| theme }}"  alt="270" class="d-block w-100">
            <h2 class="img-wrap text-uppercase"> Куртка EQT <br> Создай себя сам</p>
        </div>   
    </a>  
    </div>
    <div class="row col-12 col-lg-6 my-auto text-center w-100 m-0 p-0 order-1 order-md-2">
        <div class="col-12 my-auto text-center p-0"> 
        <a href="/project/product/ADIDAS_EQUIPMENT_SUPPORT_A_green? ">
            <img src="{{ 'assets/images/EQTtwo.png'| theme }}"  alt="270" class="d-block w-100">
        </a>
        </div>           
        <div class="col-6 my-auto text-center p-0"> 
            <p class="m-0"> EQT Support ADV </p>
            <h2 class="text-uppercase"> Легче воздуха </h2>
            <h6 class="mb-3 text-uppercase"> Быстрее ветра </h6>
            <form action="/project/product/ADIDAS_EQUIPMENT_SUPPORT_A_green">
                <button class="btn btn-dark"> Купить </button>
            </form>
        </div>
        <div class="col-6 my-auto text-center p-0"> 
        <a href="/project/product/ADIDAS_EQUIPMENT_SUPPORT_A_green? ">
            <img src="{{ 'assets/images/EQTthree.png'| theme }}"  alt="270" class="d-block w-100">
        </a>
        </div>        
    </div>
</div>

