title = "Регистрация"
url = "/registration"
layout = "default"
is_hidden = 0

[account]
redirect = "account" 
paramCode = "code"
forceSecure = 0
==

<div class="container">
    <div class="row">
            {% if not user %}
<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 pt-md-5 p-3">
    {% partial account ~ '::register' %}
</div>
{% else %}

        {% endif %} 
</div>
</div>
<script type="text/javascript" src="{{ 'assets/javascript/jquery.maskedinput-master/src/jquery.maskedinput.js'|theme }}" ></script>  
<script type="text/javascript" src="{{ 'assets/javascript/alexdi/account.js'|theme }}" ></script>  
