==
<div class="container-fluid p-0 ">
  <div id="carouselExampleIndicators" class="carousel slide"
  data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active d-none d-md-block" data-target="#carouselExampleIndicators" data-slide-to="0">
      </li>
      <li class="d-none d-md-block" data-target="#carouselExampleIndicators" data-slide-to="1">
      </li>
      <li class="d-none d-md-block" data-target="#carouselExampleIndicators" data-slide-to="2">
      </li>
    </ol>
    
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="http://zhestko.hopto.org:8080/project/product/ADIDAS_EQUIPMENT_SUPPORT_A_green">
          <img src="{{ ('assets/images/'~way1)|theme }}" alt="one" class="d-block w-100">
          </a>
        </div>
        <div class="carousel-item">
            <a href="http://zhestko.hopto.org:8080/project/goods/man/1?gender%5B%5D=%D0%BC%D1%83%D0%B6%D1%81%D0%BA%D0%BE%D0%B9&gender%5B%5D=%D1%83%D0%BD%D0%B8%D1%81%D0%B5%D0%BA%D1%81&type%5B%5D=1&manufacturer%5B%5D=2">
          <img src="{{ ('assets/images/'~way2)|theme }}" alt="two" class="d-block w-100">
          </a>
        </div>
        <div class="carousel-item">
            <a href="http://zhestko.hopto.org:8080/project/goods/woman/?gender%5B%5D=%D0%B6%D0%B5%D0%BD%D1%81%D0%BA%D0%B8%D0%B9&gender%5B%5D=%D1%83%D0%BD%D0%B8%D1%81%D0%B5%D0%BA%D1%81">
          <img src="{{ ('assets/images/'~way3)|theme }}"  alt="three" class="d-block w-100">
          </a>
        </div>
      </div>

      <a href="#carouselExampleIndicators" class="carousel-control-prev"
      role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущая</span>
      <a href="#carouselExampleIndicators" class="carousel-control-next"
      role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следущая</span>
      </a>
    
  </div>
</div>
