[builderList]
modelClass = "Alexdi\Ordersadd\Models\Orders_tovar"
scope = "scopeProduct2"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "Ваша корзина пуста"
detailsPage = "product"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
<div class="container p-3 pl-4">
    <h1> Оформление заказа </h1>
</div>
<div class="bg_t">
    <div class="container p-3">
        <div class="row">
                {% set full_price = 0 %}
                {% set full_quantity = 0 %}
                {% for record in records %}
                    {%set full_price=full_price+record.price %}
                    {%set full_quantity=full_quantity+1 %}
                {%endfor%}
                {% if full_price > 0 %}
            <div class="col-6 col-sm-8 col-md-9 col-lg-10">
                    <label>  Стоимость:<b> {{full_price}}₽</b></label> <br>  
                    <label>  Количество: <b> {{full_quantity}} шт.</b></label>
            </div>
            {% else %}
            <h4 class="p-3"> Как вы здесь оказались? o:</h4> 
            {% endif %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-auto p-0 text-center">
                {% if full_price > 0 %} 
                <form action="/project/basket/1"> 
                    <button class="btn btn-oytline-success my-2 my-sm-0 btn-dark"> Корзина </button>
                </form>
                {% else %} 
                {% endif %}                                           
            </div> 
        </div>
    </div>
</div>
{% if full_price > 0 %} 
<div class="mx-auto container w-100 m-0">
    <main class="col-12  p-0 pt-3">
        
        <div class="row col-12 w-100 m-0 p-0">
            


            {% partial "order_form" %}

            <div class="col-12 col-md-6 col-lg-5">
                <h4 class="text-center pb-3"> Список продуктов </h4>
                    {% for record in records %}
                    {% spaceless %}          
                        <div class="col-12 mb-3 ">
                            <div class="col-12 pb-3 bg_t dark-link-1 item h-100" style="border-radius: 15px 15px 15px 15px !important;"> 
                                <div class="row ">
                                    <div class="col-6 col-sm-4 pt-3">
                                        {% if detailsPage %}
                                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                        {% endif %}
                                        <img src="{{record.product.photo|media}}" alt="Изображение товара" class="w-100"> 
                                        {% if detailsPage %}
                                            </a>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="col-6 col-sm-8 my-auto">
                                            
                                        <div class="text-left text-md-center row ">
                                                
                                            <div class="col-12 my-auto p-0 pt-3 pt-md-0">
                                                {% if detailsPage %}
                                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                                {% endif %}
                                                <h3> {{record.product.name}} </h3> 
                                                {% if detailsPage %}
                                                    </a>
                                                {% endif %}
                                            </div>   
                                            {% if detailsPage %}
                                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                                {% endif %}   
                                            <div class="col-12 p-0 border-right">
                                                <div class="text-left row p-0 ">
                                                    <div class="col-12 my-auto">
                                                        <label class="m-0"> Цвет: {{record.product.color}} </label> 
                                                    </div>
                                                    <div class="col-12 my-auto">
                                                        <label class="m-0">Размер: {{  record.size }} </label> 
                                                    </div>
                                                    <div class="col-12 my-auto=">
                                                        <label class="m-0"> <b>Цена: {{ record.price }}</b> </label> 
                                                    </div>
                                                </div>
                                                {% if detailsPage %}
                                                    </a>
                                                {% endif %}
                                            </div>
    
                                            
                                                <!-- <form method="POST">
                                                <input type="hidden" name="size" value="{{ record.size  }}" /> 
                                                <input type="hidden" name="delete_product_id" value="{{ record.id }}" /> 
                                                <input type="hidden" name="product_id" value="{{ record.products.id }}" /> 
                                            </form>                                         -->

                                        </div>
                                    
                                    </div> 
                                </div>
                                
                                
                            </div>
                        </div> 
                    {% endspaceless %}
    
                {% endfor %}
            </div>
        </div>
    </main>
{% endif %}