==

<div class="main-footer bg_color_firm light-color" >
    <div class="container">
        <div class="row">
            <div class ="col-12 col-md-6 p-0 text-left text-md-center order-1 order-md-2">
                <ul>
                    <li class="pt-3 light-link"><h3 class="p_1"> <a href="/project/about_us">  О нас </a> </h3></li>
                    <li class="light-link"> <a href="/project/blog"> Новости </a>  </li> 
                    <li class="light-link"> <a href="/project/feedback"> Обратная связь </a></li> 
                </ul>
            </div>
            <div class ="col-12 col-md-6 p-0 text-left order-2 order-md-1">
                <ul>
                    <li class="pt-3"><h3 class="p_1"> Контакты </h3></li>
                    <li>Наш адрес: г. Москва, ул. Ленина, д. 2А.  </li>
                    <li>Наш телефон: 8 (916) 78-29-738 </li> 
                    <li>Все права защищены © </li> 
                </ul>
            </div>
            <div class ="col-12 p-0 text-center order-3">
                <ul class="list-inline">
                    <li class="pt-3 list-inline-item">
                        <a href="http://vk.com"><img src="{{ 'assets/images/vk.png'| theme }}"  alt="ВКонтакте" class="d-block img-social"></a>   
                    </li>  
                    <li class="pt-3 list-inline-item">
                        <a href="https://www.instagram.com/zhestko/"><img src="{{ 'assets/images/instagram.png'| theme }}"  alt="ВКонтакте" class="d-block img-social"></a>   
                    </li>  
                    <li class="pt-3 list-inline-item">
                        <a href="tel:89167829738"><img src="{{ 'assets/images/whatsapp.png'| theme }}" alt="ВКонтакте" class="d-block img-social"></a>   
                    </li>  
                </ul>
            </div>
        </div>  
    </div>
</div>
