==
<div  class="d-inline-flex w-100 string-top bg_d">
  <ul class=" list-inline light-link ml-auto m-0 pr-3">
    <li class="list-inline-item light-link"> 
      <a class="light-link" href="/project/about_us">О нас </a> 
    </li>
    <li class="list-inline-item"> 
      <a class="light-link" href="/project/feedback">Обратная связь </a>
    </li>
    <li class="list-inline-item align-middle"> 
      <a href="/project/account"><img src="{{ 'assets/images/u11.png'| theme }}"  alt="Профиль" class="d-block img-fluid " style="height: 25px; width: 25px;"></a>
    </li>
    <li class="list-inline-item align-middle"> 
      <a href="/project/basket/1"><img src="{{ 'assets/images/u12.png'| theme }}"  alt="Корзина" class="d-block img-fluid " style="height: 35px; width: 35px;"></a>
    </li>
  </ul>
</div>