==
<?php
function onStart(){

}
?>
==
<nav class="navbar navbar-expand-md navbar-default bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="/project/"><img src="{{'assets/images/zhestko_logo.png'|theme}}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls=
        "navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-center">
            
              <li class="nav-item dropdown">
              <!-- <div class="btn-group">  --> 
                <form method="GET" action="/project/goods/man/?">
                  <input type="checkbox" name="gender[]" value="мужской" class="unvisible" checked="checked"
                  {%if 'мужской' in input['gender'] %}checked="on"{%endif%}>
                  <input type="checkbox" name="gender[]" value="унисекс" class="unvisible" checked="checked"
                  {%if 'унисекс' in input['gender'] %}checked="on"{%endif%}> 
                  <button type="submit" class="btn text-light">Мужчины</button>
                  </form>
              </li>
              <li class="nav-item dropdown">
              <!-- <div class="btn-group"> -->   
                  <form action="/project/goods/woman/?gender=женский ">
                    <input type="checkbox" name="gender[]" value="женский" class="unvisible" checked="checked"
                  {%if 'женский' in input['gender'] %}checked="on"{%endif%}>
                  <input type="checkbox" name="gender[]" value="унисекс" class="unvisible" checked="checked"
                  {%if 'унисекс' in input['gender'] %}checked="on"{%endif%}>
                      <button type="submit" class="btn text-light">Женщины</button>
                      </form>
            </ul>
            
          <!--  <form class="form-inline my-2 my-md-0">
              <input type="text" class="form-control mr-sm-2" placeholder="Поиск" aria-label="Search">
              <button class="btn btn-oytline-success my-2 my-sm-0 btn-light"> Поиск </button>
            </form> -->
          </div>
    </nav>