[builderList]
modelClass = "Alexdi\Alexdi\Models\Product"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?
function onStart(){
  $this['s_country']=DB::table('alexdi_alexdi_Country')->get();
  $this['a_availability']=DB::table('alexdi_alexdi_Availability')->groupBy('size')->get();
  $this['t_type']=DB::table('alexdi_alexdi_Type')->get();
  $this['p_product']=DB::table('alexdi_alexdi_Product')->groupBy('color')->get();
  $this['m_manufacturer']=DB::table('alexdi_alexdi_Manufacturer')->groupBy('manufacturer')->get();
  $this['input']=Input::all();

}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<nav class="navbar-light navbar-expand-md pl-3 ">
  <div class="row w-100 m-0">
    <div class="col-9 p-0 " >
      <a href="#" class="logo navbar-brand" style="padding-top:12px;">
        Ассортимент
      </a>
    </div>
    <div class="col-3 ">
      <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1" id="navtitle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span>
      </button>
    </div>  
  </div>

<div class="left-menu collapse show" id="navbarSupportedContent1">
<!-- {%if 'size' in input|keys or 'type' in input|keys or 'country' in input|keys or 'color' in input|keys %}class="left-menu collapse in show" {% else %} class="left-menu collapse"{% endif %}>  -->

{% if this.param.slug == 'man' %}

    <form method="GET" action="{{ url('goods/man/1?')}}">

                  <input type="checkbox" name="gender[]" value="мужской" class="unvisible" checked="checked"
                  {%if 'мужской' in input['gender'] %}checked="on"{%endif%}>
                  <input type="checkbox" name="gender[]" value="унисекс" class="unvisible" checked="checked"
                  {%if 'унисекс' in input['gender'] %}checked="on"{%endif%}>

    {% elseif this.param.slug == 'woman' %}

    <form method="GET" action="{{ url('goods/woman/1?')}}">
                <input type="checkbox" name="gender[]" value="женский" class="unvisible" checked="checked"
                {%if 'женский' in input['gender'] %}checked="on"{%endif%}>
                <input type="checkbox" name="gender[]" value="унисекс" class="unvisible" checked="checked"
                {%if 'унисекс' in input['gender'] %}checked="on"{%endif%}>

    {% endif %}

      <ul class="p-0 dark-link"> 
        <li> 
          <a href="#" data-toggle="collapse" data-target="#left-menu1"><h6> Тип одежды </h6></a> 
          <div  {%if 'type' in input|keys %}class="collapse in show" {% else %} class="collapse"{% endif %}   id="left-menu1"> 
            <ul class="ul-li p-0"> 
              {%for t in t_type%}
              <li>
                <label>
                  <input type="checkbox" name="type[]" value="{{t.id}}"
                  {%if t.id in input['type'] %}checked="on"{%endif%}>
                  <span>{{t.type}}</span>
                </label>
              </li>
              {%endfor%}
            </ul>   
          </div>
        </li> 
        <li> 
          <a href="#" data-toggle="collapse" data-target="#left-menu7"> <h6> Производитель </h6></a> 
          <div  {%if 'manufacturer' in input|keys %}class="collapse in show"{% else %} class="collapse" {% endif %}   id="left-menu7"> 
            <ul class="ul-li p-0"> 
              {%for m in m_manufacturer%}
              <li>
                <label>
                  <input type="checkbox" name="manufacturer[]" value="{{m.id}}"
                  {%if m.id in input['manufacturer'] %}checked="on"{%endif%}>
                  <span>{{m.manufacturer}}</span>
                </label>
              </li>
              {%endfor%}
            </ul>   
          </div>
        </li> 
        <li> 
          <a href="#" data-toggle="collapse" data-target="#left-menu2"> <h6> Страна </h6></a> 
          <div  {%if 'country' in input|keys %}class="collapse in show"{% else %} class="collapse" {% endif %}   id="left-menu2"> 
            <ul class="ul-li p-0"> 
              {%for c in s_country%}
              <li>
                <label>
                  <input type="checkbox" name="country[]" value="{{c.id}}"
                  {%if c.id in input['country'] %}checked="on"{%endif%}>
                  <span>{{c.country}}</span>
                </label>
              </li>
              {%endfor%}
            </ul>   
          </div>
        </li> 
        <li> 
          <a href="#" data-toggle="collapse" data-target="#left-menu3"> <h6> Цвет </h6></a> 
          <div  {%if 'color' in input|keys %}class="collapse in show"{% else %} class="collapse" {% endif %}   id="left-menu3"> 
            <ul class="ul-li p-0"> 
              {%for p in p_product%}
              <li>
                <label>
                  <input type="checkbox" name="color[]" value="{{p.color}}"
                  {%if p.color in input['color'] %}checked="on"{%endif%}>
                  <span>{{p.color}}</span>
                </label>
              </li>
              {%endfor%}
            </ul>   
          </div>                
        </li> 
        <li> 
          <a href="#" data-toggle="collapse" data-target="#left-menu4"> <h6> Размер </h6></a> 
          <div  {%if 'size' in input|keys %}class="collapse in show"{% else %} class="collapse" {% endif %} id="left-menu4"> 
            <ul class="ul-li p-0">
              {%for a in a_availability%}
              <li>
                <label>
                  <input type="checkbox" name="size[]" value="{{a.size}}"
                  {%if a.size in input['size'] %}checked="on"{%endif%}>
                  <span>{{a.size}}</span>
                </label>
              </li>
              {%endfor%}
            </ul>   
          </div>
        </li>
        <li> 
          <a href="#" data-toggle="collapse" data-target="#left-menu5"> <h6> Скидки </h6></a> 
          <div  {%if 'discount' in input|keys %}class="collapse in show"{% else %} class="collapse" {% endif %} id="left-menu5"> 
            <ul class="ul-li p-0">
              <li>
                <label>
                  <input type="checkbox" name="discount" 
                  {%if input['discount']=='on' %}checked{%endif%}>
                  <span>Показать товары со скидкой</span>
                </label>
              </li>  
            </ul>   
          </div>
        </li>
        <li> 
            <a href="#" data-toggle="collapse" data-target="#left-menu6"> <h6> Сортировка </h6></a> 
            <div class="collapse" id="left-menu6"> 
              <ul class="ul-li p-0">
                <li>
                  <label class="type_checkbox">
                    <input  type="radio" name="price" value= "asc" onMouseDown="this.isChecked=this.checked;"
                    onClick="this.checked=!this.isChecked;"
                    {%if input['price']=='asc' %}checked="on"{%endif%}>
                    <span>Цена по возрастанию</span>
                  </label>
                </li>  
                <li>
                    <label>
                        <input  type="radio" name="price" value="desc" onMouseDown="this.isChecked=this.checked;"
                        onClick="this.checked=!this.isChecked;"
                        {%if input['price']=='desc' %}checked="on"{%endif%}>
                        <span>Цена по убыванию</span>
                    </label>
                </li>
                <li>
                  <label class="type_checkbox">
                    <input  type="radio" name="sort" value= "new" onMouseDown="this.isChecked=this.checked;"
                    onClick="this.checked=!this.isChecked;"
                    {%if input['sort']=='new' %}checked="on"{%endif%}>
                    <span>Сначала новые</span>
                  </label>
                </li>  
                <li>
                    <label>
                      <input  type="radio" name="sort" value="old"  onMouseDown="this.isChecked=this.checked;"
                      onClick="this.checked=!this.isChecked;"
                      {%if input['sort']=='old' %}checked="on"{%endif%}>
                      <span>Сначала старые</span>
                    </label>
                </li>
              </ul>   
            </div>
          </li>
        <button class="btn btn-dark mt-3" type="submit"> 
          Фильтровать
        </button> 
      </ul> 
    </form>
  </div>
</nav>

<script>
  function click()
  {
    this.checked = false;
  }
</script>