<div class="container p-3 pl-4">
    <h1> Оформление заказа </h1>
</div>
<div class="bg_t">
    <div class="container p-3">
        <div class="row">
            <div class="col-6 col-sm-8 col-md-9 col-lg-10">
            <h4 class="p-3"> Заказ оформлен </h4> 
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-auto p-0 text-center">
                <form action="/project/account"> 
                    <button class="btn btn-oytline-success my-2 my-sm-0 btn-dark"> Личный кабинет </button>
                </form>
            </div> 
        </div>
        <div class="mx-auto container w-100 m-0">
            <main class="col-12  p-0 pt-3">
                
                <div class="row col-12 w-100 m-0 p-0">
                    Информация о статусе Ваших заказов будет доступна на странице истории заказов в Личном кабинете.
                </div>
            </main>     
        </div>
</div>