[builderList]
modelClass = "Alexdi\Alexdi\Models\Product"
scope = "scopeIdd"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "Продукты с выбранными характеристиками не найдены :("
detailsPage = "product"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 12
pageNumber = "{{ :page }}"
==
<?php
function onStart(){
    $this['paginats'] = str_replace(Request::url(),'',Request::fullUrl());
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


{% for record in records %}

{% spaceless %}

    <div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-3" >
        <div class="col-12 pb-3 bg_t dark-link-1 item h-100" > 
                
            {% if detailsPage %}
                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
            {% endif %}
            <div>
                <img src="{{record.photo|media}}" alt="Изображение товара" class="w-100">  
            </div>
            <div class="pt-3 dname">
                <h3> {{record.name}} </h3> 
            </div>       
            <hr>
            <div>
                <p class="text-left"> {{html_limit(record.description, 40)|raw}}..<br></p> 
            </div>
            <div class="p-0 m-0 text-left">
                {% set nal=0 %}
                {%for s in record.availabilities %} 
                    {% if s.quantity>0 %}
                        {% set nal=nal+1 %}
                    {% else %}
                
                    {% endif %}
                {% endfor %}
                    {% if nal>0 %} 
                    <p>  {% if record.discount > 0 %}<s> {{ record.price }} ₽ </s> <br>
                    {{  record.price*(1-(record.discount/100)) }} ₽ {% elseif record.discount == 0 %} {{ record.price }} ₽{% endif %} 
                    </p> 
                    {% else %}
                    <p class="danger-text">
                        Нет в наличии
                    </p>
                    {% endif %}

            </div>
            {% if detailsPage %}
        </a>
            {% endif %}
        </div>
    </div> 


{% endspaceless %}
{% else %}
<h4 class="p-3"> {{ noRecordsMessage }} </h4>
{% endfor %}
<div class="col-12 col-sm-12 col-md-12 col-lg-12 py-3"> 
    {% if records.lastPage > 1 %}
        <ul class="pagination dark-link justify-content-center">
            {% if records.currentPage > 1 %}
                <li>
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}{{paginats}}">
                            &#60
                    </a>
                </li>
            {% endif %}
            {% for page in 1..records.lastPage %}
                <li class=" {{ records.currentPage == page ? 'active' : null }}">
                    <a class="page-link {{ records.currentPage == page ? 'active bg_d' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}{{paginats}}"><lable class="{{ records.currentPage == page ? 'light-color' : null }}">{{ page }}</lable></a>
                </li>
            {% endfor %}
            {% if records.lastPage > records.currentPage %}
                <li><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}{{paginats}}">&#62</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
