[OrdersAdd]
slug = "{{ :slug }}"

[builderDetails]
modelClass = "Alexdi\Alexdi\Models\Product"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Извините, данный товар не найден :("

==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
<Div class="container h-100">
    <div class="row h-100 my-auto"> 
        
            <div class="col-md-8 ">
                <div class="row">
                        <div class="col-md-12 pt-3 pb-md-3"> <img src="{{ record.photo | media }}"  alt="product" class="d-block w-100 demo"> </div> 
                </div>
                
            </div>
            <div class="col-md-4 pt-md-5 pt-3">
                {% if not user %}
                    <form method="GET" action="{{ url('account')}}" >
                {% else %}
                    <form method="post" id="my_form">
                {% endif %}
                        {% set nal=0 %}
                        {%for s in record.availabilities %} 
                            {% if s.quantity>0 %}
                                {% set nal=nal+1 %}
                            {% else %}
    
                            {% endif %}
                        {% endfor %} 
                    <div class="col-12"> 
                        <h2 class="text-center"> {{ record.name }}</h2>
                        {% if record.discount > 0 %}<h3 class="text-left m-0"> <s> {{ record.price }} ₽ </s> </h3>
                        <h3 class="text-left m-0"> {{ record.price*(1-(record.discount/100)) }} ₽ </h3> <p> Цена со скидкой {{ record.discount}} % </p>{% elseif record.discount == 0 %}<h3> {{ record.price }}  ₽ </h3>{% endif %}
                        
                            <ul class=" p-0 m-0">
                                <li> Цвет: {{ record.color }} </li>
                                <li> Страна: {{ record.Country.country }} </li>
                                {% if nal>0%}
                                <li> Размер:
                                <select class="btn-dark" name="size">    
                                {%for s in record.availabilities %} 
                                {% if s.quantity>0 %}
                                <option value="{{s.size}}">{{ s.size }} {{s.quantity}} шт.</option> 
                                {% endif %}
                                {% endfor %} 
                                </select> 
                                </li>
                                {% else %}
                                <li class="danger-text"> Товара нет в наличии </li>
                                {% endif %}
                            </ul>
                </div>
                <div class="col-12  pt-3 text-center">
                    {% if nal>0%}             
                    <input type="submit" 
                    class="btn btn-oytline-success my-2 my-sm-0 btn-dark" name="btn1" id="button" value="Добавить в корзину"/>
                    {% else %}
                    {% endif %}   
                </div>
            </form>
            
                <div class="col-12 pt-3"> 
                    <h3> Описание товара </h3>
                    <p>{{ record.description }}</p>
                </div>
            </div>
            
    </div>
    </div>
    {% else %}
    <h4 class="p-5">{{ notFoundMessage }}</h4>
{% endif %}

<script>
    $(document).ready(function() {
    $("#exampleModalCenter").modal("show");
    $('img.demo').loupe();
    });

    var $myForm = $("#my_form");
    $myForm.submit(function(){
    $myForm.submit(function(){
        return false;
    });
});
</script>
<script type="text/javascript" src="{{ 'assets/javascript/alexdi/product.js'|theme }}" ></script>  
<script type="text/javascript" src="{{ 'assets/javascript/alexdi/loupe.min.js'|theme }}" ></script> 
